* {
    font-family: Roboto sans-serif;
}

nav {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 50px;
    background: #212121;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header {
    position: relative;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style: none;
}

.menu .menu_link {
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
}

.menu .menu_item:not(:last-child) {
    border-right: dotted black;
    padding-right: 30px;
}

.subheader {
    margin-top: 50px;
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0, 0, 0, 0.6);
}

.subheader .subheader-logo {
    display: block;
    max-width: 100%;
    margin-top: 17px;
    margin-bottom: 6px;
}

.subheader .subheader-offical {
    opacity: 0.5;
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
}

.subheader .subheader-call {
    margin-top: 19px;
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
    text-align: right;
}

.subheader .subheader-phone {
    font-weight: normal;
    font-size: 22px;
    display: block;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
}

.subheader .subheader-btn {
    width: 172px;
    height: 46px;
    margin-top: 19px;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.promo {
    padding: 150px 0 135px 0;
    min-height: 800px;
    background: url("../img/uber_bg.png");
}

.promo .promo-header {
    margin: 0;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo .promo-second-header {
    margin: 0;
    margin-top: 22px;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

.promo .promo-text-block {
    margin-top: 23px;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.promo .promo-btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 211px;
    height: 63px;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.intro {
    padding: 71px 0 65px 0;
}

.label {
    margin: 0 auto;
    height: 24px;
    width: 112px;
    padding: 5px 12px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.title {
    margin-bottom: 0;
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.intro .intro-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.intro .intro-icon-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
}

.intro .intro-text-block {
    width: 343px;
}

.intro .intro-text{
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.intro .intro-item-header {
    line-height: 21px;
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
}
